@import url('https://fonts.googleapis.com/css?family=Merienda:700|Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

body {
	font-family: "Open Sans", sans-serif;
	border-top: 2px solid #ee5757;
	font-size: 16px;
	color: #101010;
	font-weight: 300;
}
.main {
	margin-top: 50px;
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

section {
	margin-bottom: 20px;
	color: #101010;
	background: #FFF;
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

section .content {
	padding: 20px 20px;
}

#nav-right {
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

#nav-right ul li.active a {
	background: #fff;
	color: #ee5757;
}

#nav-right ul li a {
	float: left;
	margin: 1 10px;
	font-weight: 700;
}

#nav-right ul li span {
	float: right;
	display: inline-block;
	color: #EE5757;
	padding: 10px 0;
	font-size: 1.5em;
}

@media screen and (max-width: 768px) {
	#nav-right ul li span {
		display: none;
	}
}

.navbar {
	background: #fff;
	border-top: 5px solid #EE5757;
}

.navbar-header a {
	padding-top: 15px;
	padding-bottom: 15px;
}



.navbar-header img {
	width: 100px;
	height: 40px;
}


/*Hero Section*/
.hero {
	background-image: url("../img/banner.jpg") !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover;
	height: 400px;
	color: #fff;
	padding: 40px 20px 0;
	text-align: center;
}

.hero h1 {
	font-size: 48px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
	font-family: "Merienda", cursive;
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	.hero h1 {
		font-size: 32px;
	}
}

/*Mission Section*/

.mission {
	background: #222;
	padding: 30px 30px;
	margin-top: 20px;color: #FFF;
}

.mission h1 {
	color: #ee5757;
	margin-top: 0px;
	font-size: 2em;
	font-family: "Josefin Sans", sans-serif;
}



h2 {
	color: #ee5757;
	margin-top: 0px;
	font-size: 2em;
	font-family: "Josefin Sans", sans-serif;
	padding: 10px 29px;
	width: auto;
	display: inline-block;
	margin-bottom: 0px;
	margin: 0px;
	background: #222;
}


/*Services Section*/

.services .content.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.services .service {
	background: #fff;
	text-align: center;
}

.services .service ul {
	list-style: none;
	margin: 0 auto;
}

.services .service-content {
	background: #fff;
}

.services .service img {
	height: auto;
	margin: 0 auto;
}

.services .service ul li span {
	display: none;
}

/* Mobile and upto Tablet Styles */
@media only screen and (max-width : 767px) {
    .services .service {
    	height: auto !important;
    	padding-bottom: 30px;
    }

	.projects .project {
		margin-bottom: 20px;
	}
}

/* Mobile Styles */
@media only screen and (max-width : 548px) {
    .services .service h2, .services .service ul {
    	text-align: left;
    }

    .services .service ul li span {
    	display: inline;
		margin-right: 5px;
	}
}

/* Desktop Styles */
@media only screen and (min-width : 768px) {
	section .content {
		padding: 30px 30px !important;
	}
}

/* tablet and up styles */
@media only screen and (min-width : 548px) {
}

/* Projects Section */

.projects .project {
	position: relative;
	padding: 0;
}

.projects .project h3 {
	text-align: center;
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 20px;
}

.projects .project h3:hover {
	background: none;
	padding-top: 50px;
}

.projects .project img {
	height: 100%;
	width: 100%;
}

/* Contacts Section */

.contact {
}

.contact .content {
	font-size: 36px;
	text-align: center;
}

.contact p {
	margin: 0;
	margin-left: 20px;
	display: inline-block;
}

/* Footer Section */
footer {
	margin-top: 20px;
	border-top: 5px solid #EE5757;
	padding: 50px 30px 10px;
}

footer p {
	margin: 0;
}

footer .content {
	text-align: center;
}

footer .content img {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}